

<main>
  <div class="title">{{title}}</div>
  
  <div class="content">
    <span>Click on a coin to increment the value of the bank.</span>

    <div>This is a new section added today ! </div>
  
    <div class="bank">
      <span> Bank of Coins </span>
          
  
      <span class='total'>{{total | currency}}</span>

      <div class="coin_box">
        <div class="nickel" (click)="increment(5)">
         5 &cent;
        </div>
        <div class="quarter" (click)="increment(25)">
          25 &cent;
        </div>
      </div>
  
    </div>
  
  </div>
</main>







